
body{
  margin: 0;
  padding: 0;
  background-color: #ced8ff;
  /* background-color: #000; */
  /* color: white; */
}






.App{
  text-align: center;
  margin: 0px auto 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  /* background-color: #6da8df; */
  background-color: #fff;
  border-radius: 20px;
  height: 500px;
  padding: 20px 15px;
  margin-top: 20px;
}


.dark-btn{
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
}


/* Search Engine CSS */

.input-city{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.input-city input{
  width: 50%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 25px;
  outline: none;
  background-color: #000;
  color: #fff;
}

::placeholder{
  color: #fff;
  font-size: 25px;
}

.input-city button{
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
}



/* Weather info CSS */


.city-name{
  margin-bottom: 10px;

}

.loading{
  font-size: 60px;
  font-weight: bold;
  color: #000;
}

.date{
  font-size: 18px;
  font-weight: 500;
}

.temperature {
  font-size: 64px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.description{
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}

.weather-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.more-weather-info{
  display: flex;
  align-items: center;
  line-height: 1px;

}

/* Forecast CSS */

.row{
  display: flex;
  justify-content: space-evenly;
  column-gap: 12px;
  width: 100%;
}


.forecast-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.forecast-card {
  /* background-color: #ccdcf4; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.forecast-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mini-temp{
  font-size: 20px;
  font-weight: 500;
}

.forecast-card p {
  margin-bottom: 5px;
  font-size: 25px;
}

.wind-humidity{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Add dark mode styles */
.dark-mode .App{
  background-color: black;
  color: #fff;
}

.dark-mode .dark-btn{
  background-color: #fff;
  color: #000;
}

.dark-mode .input-city input{
  background-color: #fff;
  color: #000;
}

.dark-mode .input-city input::placeholder{
  background-color: #fff;
  color: #000;
}

.dark-mode .input-city button{
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}


.dark-mode .loading,
.dark-mode .temperature,
.dark-mode .description,
.dark-mode .weather-info,
.dark-mode .more-weather-info,
.dark-mode .forecast-card {
  color: #fff;
}





/* Dark mode styles for .row */
.dark-mode .row {
  column-gap: 12px;
}

/* Dark mode styles for .forecast-container */
.dark-mode .forecast-container {
  justify-content: space-around;
}

/* Dark mode styles for .forecast-card */
.dark-mode .forecast-card {
  background-color: #333;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

/* Dark mode styles for h3 inside .forecast-card */
.dark-mode .forecast-card h3 {
  color: #fff;
}

/* Dark mode styles for .mini-temp inside .forecast-card */
.dark-mode .forecast-card .mini-temp {
  color: #ddd;
}

/* Dark mode styles for .wind-humidity inside .forecast-card */
.dark-mode .forecast-card .wind-humidity {
  color: #ddd;
}






